*{
  margin:0;
  padding:0;
}

body{
  width: 95%;
  max-width: 730px;
  margin: auto;
}


h1,h2{
  text-align: center;
}

h1{
  margin:15px 0px;
}

hr{
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}

p{
  text-align: justify;
  margin:10px auto;
  width: 100%;
  
}


li{
  margin:5px;
  margin-left:20px;
}

.input-selector{
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input_container{
  position: relative;
  width: 354px;
  margin: auto;
  height: 550px;
}

 .input_form{
  background-color:antiquewhite;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  width:320px;
  height: 447px;
  margin:20px auto;
  border:2px solid black;
  padding: 15px;
  }

  #grade-input{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    backface-visibility: hidden;
    transition: 1000ms;
  }

  #classic-input{
    rotate: y 180deg;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backface-visibility: hidden;
    transition: 1000ms;
  }
  
  .input_form div{
    margin:0px;
    width:100%;
    display: flex;
    justify-content: center;
  }

  .input_form table{
    width: 80%;
    margin:auto;
    border-collapse: collapse;
  }

  .input_form tr {
    border-bottom: 1px solid grey;
  }

  .input_form td{
    padding: 8px 0px;
  }

  .input_form td:nth-child(1){
    width: 80%;
  }

  .input_form td:nth-child(2){
    width: 20%;
  }

  .input_form input{
    width: 100%;
  }
 
  
  
                                                                        /* result */
.result{                                                      
  display: none;
  background: white; 
  border-radius: 10px; 
  border: 3px solid lightgray; 
  width:fit-content;
  margin: auto; 
  padding: 30px 20px;
  text-align:center;
  font-size:60px; 
} 

#grade_output{
  display: none;
  text-align: center;
  margin: 20px auto;
}

#grade_number{
  width: fit-content;
  margin: 5px auto;
  padding: 15px 50px;
  border: 2px solid grey;
}

#grade_number div{
  width: fit-content;
}

.centered{
  text-align: center;
}


.btn-container{
  text-align:center
}

.btn-container button{
  margin:20px;
}

.opensource-box{
  border: 2px solid black;
  background-color: antiquewhite;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top:20px;
  padding:10px;
}

#describe table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 300px;
  margin: auto;
}

#describe td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

#describe tr:nth-child(even) {
  background-color: #dddddd;
} 
  

  /* Blue button */
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
} 
  
  

/*Rainbow button*/
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
  

/*#############*/


.footer{
       display:flex;
       justify-content:space-between;
}


a{
  margin:0;
  padding:0;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.credits{
  text-align: center;
}


/* iframe */
.responsive{
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

